name: Steam Workshop Upload
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: self-hosted
    environment: e
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Login to SteamCMD and Update Item
        run: |
          cd ~/steamcmd
          ./steamcmd.sh +login ${{ secrets.STEAM_USER }} +workshop_build_item /home/ubuntu/actions-runner/_work/AGOTSpanish/AGOTSpanish/mod_agotspansih.vdf +quit
          echo "Item Actualizado"
